.navbar-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Add this to evenly distribute items */
  }
  
  .navbar-list li {
    margin-right: 20px;
  }
  
  .navbar-list a {
    background: linear-gradient(to bottom, #4CAF50 0%, #45a049 100%);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px; /* Add rounded corners */
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    transition: transform 0.3s, box-shadow 0.3s; /* Add smooth transition */
  }
  
  .navbar-list a:hover {
    background: linear-gradient(to bottom, #45a049 0%, #4CAF50 100%);
    transform: scale(1.05); /* Scale up on hover */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
  }
  