/* Login.css */

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .form-container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: #ff0000;
    margin-top: 5px;
  }
  
  .navbar-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Add this to evenly distribute items */
  }
  
  .navbar-list li {
    margin-right: 20px;
  }
  
  .navbar-list a {
    background: linear-gradient(to bottom, #4CAF50 0%, #45a049 100%);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px; /* Add rounded corners */
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    transition: transform 0.3s, box-shadow 0.3s; /* Add smooth transition */
  }
  
  .navbar-list a:hover {
    background: linear-gradient(to bottom, #45a049 0%, #4CAF50 100%);
    transform: scale(1.05); /* Scale up on hover */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
  }
  