.App {
  width: 100vw;
}

.App-header {
  background-color: #222;
  color: #ccc;
  padding: 20px 20px 15px;
  text-align: center;
  border-radius: 5px;
  height: 45vh;
  margin-bottom: 20px; /* Add margin bottom to create space below the header */
}

.App-logo {
  height: 130px;
}

.App-intro {
  margin-top: 15px;
}

#online {
  margin-left: 10px;
}

.App-logo {
  opacity: 1;
}

.App-logo:hover {
  opacity: 0.75;
}

.App-logo {
  color: #ccc;
  font-size: 13px;
}

.App-logo {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.85);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.85);
  }
}
